<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
      <directory suffix=".php">templates/</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Migrations/</directory>
      <directory suffix=".php">assets/</directory>
      <directory suffix=".php">bin/</directory>
      <directory suffix=".php">config/</directory>
      <directory suffix=".php">node_modules/</directory>
      <directory suffix=".php">public/</directory>
      <directory suffix=".php">tests/</directory>
      <directory suffix=".php">translations/</directory>
      <directory suffix=".php">var/</directory>
      <directory suffix=".php">vendor/</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="max_execution_time" value="-1"/>
    <ini name="intl.default_locale" value="en_US"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="KERNEL_CLASS" value="AppKernel"/>
    <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
    <!-- https://symfony.com/blog/new-in-symfony-3-1-deprecation-helper-improvements -->
    <env name="KERNEL_CLASS" value="App\Kernel" force="true"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    <env name="APP_ENV" value="test" force="true"/>
    <env name="APP_DEBUG" value="1" force="true"/>
    <env name="APP_SECRET" value="5a79a1c866efef9ca1800f971d689f3e" force="true"/>
    <env name="DATABASE_URL" value="mysql://root:9TT4fgq5@db:3306/psmf"/>
    <env name="MAILER_URL" value="smtp://maildev:25"/>
    <!--
            REINSTALL THE TEST DATABASE, AFTER CHANGING STRUCTURE?

            Simple:
            - change to "true"
            - composer tests
            - change back to "false"
        -->
    <env name="BOOTSTRAP_RESET_DATABASE" value="true"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!--
        begins a database transaction before every testcase and rolls it back after the test finished, so
        tests can manipulate the database without affecting other tests
        @see https://github.com/dmaicher/doctrine-test-bundle
    -->
  <extensions>
    <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
  </extensions>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
