<footer class="footer">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12 text-center">
                    {{ constant('App\\Constants::NAME') }} &ndash; {{ constant('App\\Constants::VERSION') }} &ndash; {{ constant('App\\Constants::OWNER') }}
                </div>
        </div>    
    </div>
</footer>