<table class="table table-bordered table-striped" >
    <thead>
        <tr><th>{{ 'variable.balise'|trans }}</th><th>{{ 'lov.scope'|trans }} / {{ 'lov.typeVariable'|trans }}</th></tr>
    </thead>
    <tbody>
        <tr><td>SYS_XXX</td><td>Sytème Scope</td></tr>
        <tr><td>LONGTEXT_XXX</td><td>Text Long Type</td></tr>
        <tr><td>TEXT_XXX</td><td>Short Text Type</td></tr>
        <tr><td>IMG_XXX</td><td>Image Type</td></tr>
        <tr><td>OPTION_XXX</td><td>Option Type</td></tr>
        <tr><td>INT_XXX</td><td>Integer Type</td></tr>
        <tr><td>DATE_XXX</td><td>Date Type</td></tr>
    </tbody>
</table>