<html>
<body style="background: transparent url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ '/images/pdf-draft-background.png' }} ) repeat fixed right top; background-color:#ccffff;">
    {% autoescape %}
        {{ contenu|raw }} 
    {% endautoescape %}  
</body>
</html>